# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk
node_modules
test
wxConfig.js

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.

node搭建消息推送/send-wx-message/utils/wxConfig.js
